<section id="{{section.name}}" >
    <a href="/services" class="titleAnc">
        <h2>{{section.sub_text}}</h2>
        <h3>{{section.heading_text}}</h3>
    </a>
    
    <div class="about-wrapper">
        <div class="text">
            {% for paragaph in section.body_text %}
                <p>{{paragaph|raw}}</p>
            {% endfor %}

            <a href="{{section.pagelink}}" class="linkBtn">more about me</a>

        </div>
        <img src="{{ROOT}}{{section.image}}" alt="Picture of me" class="me" data-aos="fade-left"/>
    </div>
    <span class="clearFix"></span>
</section>