<section id="{{section.name}}" >
    <a href="/services" class="titleAnc">
        <h2>{{section.sub_text}}</h2>
        <h3>{{section.heading_text}}</h3>
    </a>

    <div class="blog-examples">
        {% for blog in page.dependencies.blog %}
            <div class="blog-example" >
                <div class="blog-start-section">
                    <a href="{{ROOT}}{{blog.link}}" class="blogTitle"><h5>{{blog.title}}</h5></a>
                    <span class="blog-date">{{blog.date}}</span>
                    {% for exerpt in blog.exerpt %}
                        <p>{{exerpt}}</p>
                    {% endfor %}
                </div>
                <div class="blog-footer-seaction">
                    <a href="{{ROOT}}{{blog.link}}">Read More</a>
                    <div class="tags">
                    {% for tag in blog.tags %}
                        <p>{{tag}}</p>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="{{ROOT}}blog" class="btn">View more from my blog</a>
    
    
</section>