<section id="{{section.name}}" data-aos="fade-up" data-aos-duration="2000">
    <h2>{{section.sub_text}}</h2>
    <h3>{{section.heading_text}}</h3>
    
    <div class="jobs">
        {% for job in section.jobs %}
            <div class="job">
                <strong>{{job.title}}</strong>
                {% for paragraph in job.description %}
                    <p>{{paragraph}}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

</section>