<section id="{{section.name}}" >
    <a href="/services" class="titleAnc">
        <h2>{{section.sub_text}}</h2>
        <h3>{{section.heading_text}}</h3>
    </a>
    
    <div class="jobs">
        {% for job in section.jobs %}
            <div class="job">
                <a href="{{ROOT}}services">
                    <img src="{{job.icon}}" class="icon" alt="{{job.icon-alt}}">
                    <h4>{{job.title}}</h4>
                    {% for paragraph in job.description %}
                    <p>{{paragraph}}</p>
                    {% endfor %}
                </a>
            </div>
        {% endfor %}
    </div>

</section>