<section id="{{section.name}}" data-aos="fade-up" data-aos-duration="2000">
    <h2>{{section.sub_text}}</h2>
    <h3>{{section.heading_text}}</h3>
    
    <div class="testimonials">
        {% for testimonial in section.testimonials %}
            <div class="testimonial">
                <p>{{testimonial.text}}</p>
                <h6 class="name">{{testimonial.name}}</h6>
                <span class="position">{{testimonial.position}}</span>
            </div>
        {% endfor %}
    </div>

</section>