{{ include('./sections/header.twig') }}

<div class="blogOverview">

    <h1>Articles Tagged <span class="blog-tag">{{page.tag}}</span></h1>

    {% for content in page.articles %}
    <div class="blog-example" >
        <div class="blog-start-section">
            <a href="{{ROOT}}{{content.link}}" class="blogTitle"><h5>{{content.title}}</h5></a>
            <span class="blog-date">{{content.date}}</span>
            {% for exerpt in content.exerpt %}
                <p>{{exerpt}}</p>
            {% endfor %}
        </div>
        <div class="blog-footer-seaction">
            <a href="{{ROOT}}{{content.link}}">Read More</a>
            <div class="tags">
            {% for tag in content.tags %}
                <p><a href="{{ROOT ~ 'blog/tag/' ~ tag|get_link}}">{{tag}}</a></p>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{{ include('./sections/footer.twig') }}