<!DOCTYPE html>
<html lang="en">
<head>
    {% if page.title %}
        <title>{{page.title}} | J Rutland Design</title>
    {% else %}
        <title>404 - Page Not Found | J Rutland Design</title>
    {% endif %}
    <meta name="description" content="{{page.metadescrip}}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ROOT}}assets/css/main-dist.css">
    <link rel="stylesheet" href="{{ROOT}}assets/css/aos-dist.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpeg" href="{{ROOT}}{{site.fav_icon}}" />
    <link rel="icon" type="image/png" href="{{ROOT}}{{site.fav_icon}}" />
    <link rel="icon" type="image/gif" href="{{ROOT}}{{site.fav_icon}}" />

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

<div class="wrapper">

<header>
    <a href="{{ROOT}}"><h3>{{site.nav.title}}</h3></a>

    <nav>
        <div class="menu">
            <h2>Menu</h2>
            <span class="close-menu">
                <span class="cross"></span>
                <span class="cross"></span>
            </span>

        </div>
        {% for link in site.nav.links %}
        <a href="{{link.href}}" class="{{link.class}}">{{link.text}}</a>
        {% endfor %}
    </nav>

    <div class="hamburger">
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
    </div>
</header>
